<!DOCTYPE html>
<html>

<head>
    <title>
        <%= details.name %>
    </title>
    <meta content="<%= details.name %>" property="og:site_name" />
    <meta content="" property="og:title" />
    <meta content="<%= details.description %>" property="og:description" />
    <meta content="" property="og:url" />
    <meta content="/content/logo" property="og:image" />
    <meta content="<%= details.name %>" property="site_name" />
    <meta content="" property="title" />
    <meta content="<%= details.description %>" property="description" />
    <meta content="" property="url" />
    <meta content="/content/logo" property="image" />

    <link id="favicon" rel="shortcut icon" href="/content/logo">
    <link rel="stylesheet" href="/content/static/normalize.css" />
    <link rel="stylesheet" href="/content/static/common.css" />
    <script>
        let details = <%- JSON.stringify(details) %>
    </script>
    <script type="module" src="/content/static/index.js"></script>
    <script src="/content/static/utils.js"></script>
</head>

<body onLoad="loadPage(details)">
    <nav>
        <div class="topNav">
            <a class="topNavImg" href="<%= details.homepage %>"><img src="/content/logo"></a>
                <a href="/home" class="topNavButton" data-link>Home</a>
                <a href="/runs" class="topNavButton" data-link>Runs</a>
                <a href="/incentives" class="topNavButton" data-link>Incentives</a>
                <a href="/prizes" class="topNavButton" data-link>Prizes</a>
                <a href="/donations" class="topNavButton" data-link>Donations</a>
        </div>
        <div class="eventDropdown">
            <div class="eventDropdownText"></div>
            <div class="material-icons-outlined">
                arrow_drop_down
            </div>
            <div class="eventDropdownContent">
                <div class="eventDropdownButton" onClick="changeEvent(this)">All Events</div>
                <div class="eventDropdownSpacer"></div>
                <% Object.keys(details.eventList).forEach((event, index)=> { %>
                    <div class="eventDropdownButton" event="<%= event %>" onClick="changeEvent(this)">
                        <%= details.eventList[event] %>
                    </div>
                    <% }) %>
            </div>
        </div>
        <div class="topNavDonate" style="display: <%= (details.activeEvent) ? 'inline-block' : 'none' %>"><a href="/donate" data-link>Donate</a></div>
    </nav>

    <div class="content">
        <header>
        </header>

        <div class="spinnerDiv">
            <svg class="circular">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10" />
            </svg>
        </div>

        <main>
        </main>

        <footer>
        </footer>
    </div>
</body>

</html>