<!DOCTYPE html>
<html>

<head>
    <%- include("./partials/head", { pageTitle: "Donations" }); %>
</head>

<body>

    <nav>
        <%- include ("./partials/nav"); %>
    </nav>

    <div class="content">
        <header>
            <%- include ("./partials/header", { pageTitle: "Donations" }); %>

        </header>

        <main>
            <div class="donationStats"></div>
        </main>

        <footer>
            <%- include ("./partials/footer"); %>
        </footer>
    </div>

</body>

<script id="tableScript">
    start(new URLSearchParams(window.location.search).get('event'));

    function start(eventShort) {
        let event = eventShort;

        load(<% details %>)

        donationStats();

        async function donationStats() {
            let eventData = await GET(`events/stats/${event}`);
            let div = document.querySelector('.donationStats');
            try {
                div.innerHTML = `Total (Count): <%= details.currencySymbol %>${eventData.data.total.toFixed(2)}
         (${eventData.data.count}) - Max/Avg/Median Donation: <%= details.currencySymbol %>${eventData.data.max.toFixed(2)} /
        <%= details.currencySymbol %>${eventData.data.avg} /
        <%= details.currencySymbol %>${eventData.data.median.toFixed(2)}`
            } catch { }
        }

        generateTable({
            name: 'donation',
            model: 'donations',
            endpoint: `donations/event/${event}`,
            event: event,
            table: [{
                name: 'Alias',
                data: 'alias',
            }, {
                name: 'Time Received',
                textFunction: (value) => {
                    return new Date(value.timestamp).toLocaleString([], { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit', seconds: undefined })
                }
            }, {
                name: 'Amount',
                textFunction: (value, details) => {
                    return `<%= details.currencySymbol %>${value.amount.toFixed(2)}`;
                }
            }, {
                name: 'Comment',
                textFunction: (value) => {
                    if (value.comment.length > 0) return 'Yes';
                    return 'No';
                }
            }],
            rowFunction: (value) => {
                if (value.completed && value.verified && value.visible) return true;
                return false;
            },
            clickFunction: (value) => {
                return `location.href = '/donations/${event}/${value.id}'`
            }
        })
    }
</script>

</html>